<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wikd/xacro" name="sbot_gazebo">
  <!-- For gripper -->
  <gazebo reference="gripper">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.01</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For finger_R -->
  <gazebo reference="finger_R">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.1</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For finger_L -->
  <gazebo reference="finger_L">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.1</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For base -->
  <gazebo reference="base">
    <kp>1</kp>
    <kd>1</kd>
     <mu1>0.01</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For elbow -->
  <gazebo reference="elbow">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.01</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For shoulder -->
  <gazebo reference="shoulder">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.01</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For pitch -->
  <gazebo reference="pitch">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.001</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For roll -->
  <gazebo reference="roll">
    <kp>1</kp>
    <kd>1</kd>
    <mu1>0.001</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>


</robot>