<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sbot_gazebo">
  <!-- For gripper -->
  <gazebo reference="gripper">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For finger_R -->
  <gazebo reference="finger_R">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For finger_L -->
  <gazebo reference="finger_L">
    <kp>12</kp>
    <ki>0.0005</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For base -->
  <gazebo reference="base">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For elbow -->
  <gazebo reference="elbow">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For shoulder -->
  <gazebo reference="shoulder">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For pitch -->
  <gazebo reference="pitch">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- For roll -->
  <gazebo reference="roll">
    <kp>10</kp>
    <ki>0.0002</ki>
    <mu1>1.0</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>


</robot>