<?xml version="1.0"?>

<robot name="sbot_gripper" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- BEGIN - Include -->
  <xacro:include filename="$(find sbot_description)/urdf/macros_links_y_joints.xacro" />
  <!-- END - Include -->
  <material name="Blue">
    <color rgba="0.0 0.4 0.8 1.0"/>
  </material>
 
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:macro name="sbot_gripper" params="prefix parent">
    <!-- LINKS REALES DEL GRIPPER -->
    <xacro:property name="gripper" default="gripper"/>
    <xacro:property name="finger_R" default="finger_R"/>
    <xacro:property name="finger_L" default="finger_L"/>
        <!-- Inertia parameters -->
    <xacro:property name="gripper_mass" value="0.381700257851164" />  
    <xacro:property name="finger_mass" value="0.027386" />
    <!-- JUNTAS REALES DEL GRIPPER -->
    <xacro:property name="finger_R_joint" default="finger_R_joint"/>
    <xacro:property name="finger_L_joint" default="finger_L_joint"/>

        <!-- JUNTA ENTRE EL ARM Y EL GRIPPER --> 
        <joint name="${gripper}_base_joint" type="fixed">
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <parent link="${parent}"/>
            <child link="${gripper}"/>
        </joint>

        <!-- BASE LINK -->
        <xacro:m_link name="${gripper}" color="Blue"
                    origin_rpy="0 0 0" origin_xyz="-1.11022302462516E-16 6.93889390390723E-18 0.123619254184439"
                    mass="${gripper_mass}"
                    ixx="0.000373834134119606"
                    ixy="-1.10134884372904E-16"
                    ixz="7.08208539439005E-21"
                    iyy="0.00010972662091672"
                    iyz="-6.21572765462562E-20"
                    izz="0.000413895603400734"
                    meshfile="file:$(find sbot_description)/meshes/link_five.STL"
                    meshscale="1 1 1" />

        <!-- FINGER LEFT -->
        <xacro:m_link name="${finger_R}" color="Blue"
                    origin_rpy="0 0 0" origin_xyz="-6.1296E-05 -0.012617 -0.040707"
                    mass="${finger_mass}"
                    ixx="5.3015E-06"
                    ixy="-2.913E-08"
                    ixz="2.3974E-08"
                    iyy="3.6111E-06"
                    iyz="8.9421E-07"
                    izz="2.5485E-06"
                    meshfile="file:$(find sbot_description)/meshes/link_finger1.STL"
                    meshscale="1 1 1" />

        <!-- FINGER RIGHT -->
        <xacro:m_link name="${finger_L}" color="Blue"
                    origin_rpy="0 0 0" origin_xyz="-6.1296E-05 -0.012617 -0.040707"
                    mass="${finger_mass}"
                    ixx="5.30147165459215E-06"
                    ixy="2.91297719419656E-08"
                    ixz="2.39739572432032E-08"
                    iyy="3.61114744545449E-06"
                    iyz="-8.94214015242034E-07"
                    izz="2.54854258480312E-06"
                    meshfile="file:$(find sbot_description)/meshes/link_finger2.STL"
                    meshscale="1 1 1" />

        <xacro:m_joint name="${finger_L_joint}" type="prismatic"
                    axis_xyz="0 0 -1"
                    origin_rpy="-1.5708 0 0" origin_xyz="0 0 0.134"
                    parent="${gripper}" child="${finger_L}"
                    limit_e="1000" limit_l="0" limit_u="0.02" limit_v="0.5" />


        <xacro:m_joint name="${finger_R_joint}" type="prismatic"
                    axis_xyz="0 0 1"
                    origin_rpy="-1.5708 0 0" origin_xyz="0 0 0.134"
                    parent="${gripper}" child="${finger_R}"
                    limit_e="1000" limit_l="0" limit_u="0.024" limit_v="0.5" mimic="true"
                    />

    </xacro:macro>

</robot>
