<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="scorbot">
    <!--macros -->
    <xacro:include filename="$(find sbot_description)/urdf/macros_links_y_joints.xacro" />

    <!-- Include BRAZO -->
    <xacro:include filename="$(find sbot_description)/urdf/sbot_arm.urdf.xacro" />

    <!-- Include Gripper -->
    <xacro:include filename="$(find sbot_description)/urdf/sbot_gripper.urdf.xacro" />

    <!-- GENERAR EL BRAZO -->
    <xacro:sbot_arm prefix="" joint_limited="false"/>

    <link name="world"/>

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "base" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <!-- GENERAR EL GRIPPER -->
    <xacro:sbot_gripper prefix="" parent="tool0">
    </xacro:sbot_gripper>

    <!--<origin xyz="5.0 5.0 5.0" rpy="0 0 ${pi/2}"/>-->

    <!-- Gazebo stuff -->
    <xacro:include filename="$(find sbot_description)/urdf/physical_properties.xacro" />
    <xacro:include filename="$(find sbot_description)/urdf/transmission_gazebo.xacro" />
    <!-- Control stuff -->
    <!-- <xacro:include filename="$(find sbot_description)/urdf/ros2control.xacro" /> -->
  <!-- PLUGINS -->

  <!-- JOINT PUBLISHER -->
  <gazebo>
    <plugin filename="ignition-gazebo-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <ros>
        <remapping>~/out:=sbot/joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>

      <joint_name>finger_R_joint</joint_name>
      <joint_name>finger_L_joint</joint_name>
      <joint_name>base_joint</joint_name>
      <joint_name>elbow</joint_name>
      <joint_name>shoulder</joint_name>
      <joint_name>pitch</joint_name>
      <joint_name>roll</joint_name>

    </plugin>

    <xacro:macro name="joint_position_controller" params="joint_name p_gain:=1 d_gain:=0 i_gain:=0 mimic_joint:=''">
      <plugin filename="ignition-gazebo-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
        <!-- <xacro:if value="${mimic_joint == ''}">
          <xacro:property name="topic_joint" value="${joint_name}"/>
        </xacro:if>
        <xacro:unless value="${mimic_joint == ''}">
          <xacro:property name="topic_joint" value="${mimic_joint}"/>
        </xacro:unless> -->

        <joint_name>${joint_name}</joint_name>
        <p_gain>${p_gain}</p_gain>
        <d_gain>${d_gain}</d_gain>
        <i_gain>${i_gain}</i_gain>
        <i_max>1000</i_max>
        <i_min>-1000</i_min>
        <topic>/model/scorbot/joint/${joint_name}/cmd_pos</topic>
      </plugin>
    </xacro:macro>

    <xacro:joint_position_controller joint_name="base_joint" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="elbow" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="shoulder" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="pitch" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="roll" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="finger_R_joint" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
    <xacro:joint_position_controller joint_name="finger_L_joint" p_gain="1e4" d_gain="1e" i_gain="1e1"/>

 </gazebo>



</robot>
