<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="scorbot">
    <!--macros -->
    <xacro:include filename="$(find sbot_description)/urdf/macros_links_y_joints.xacro" />

    <!-- Include BRAZO -->
    <xacro:include filename="$(find sbot_description)/urdf/sbot_arm.urdf.xacro" />

    <!-- Include Gripper -->
    <xacro:include filename="$(find sbot_description)/urdf/sbot_gripper.urdf.xacro" />

    <!-- GENERAR EL BRAZO -->
    <xacro:sbot_arm prefix="" joint_limited="false"/> 
    <!-- joint limited no se uso -->
    <link name="world"/>

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "base" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <!-- GENERAR EL GRIPPER -->
    <xacro:sbot_gripper prefix="" parent="tool0">
    </xacro:sbot_gripper>

    <!--<origin xyz="5.0 5.0 5.0" rpy="0 0 ${pi/2}"/>-->

    <!-- Gazebo stuff -->
    <xacro:include filename="$(find sbot_description)/urdf/physical_properties.xacro" />
    <!-- Control stuff -->
    <!-- <xacro:include filename="$(find sbot_description)/urdf/ros2control.xacro" /> -->
  <!-- PLUGINS -->
</robot>
