<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <!-- macro that contains gazebo plugin and mimic of a finger -->
        <xacro:macro name="joint_position_controller" params="joint_name p_gain:=1 d_gain:=0 i_gain:=0 mimic_joint:=''">
            <!-- gazebo plugin to control the joints -->
            <plugin filename="ignition-gazebo-joint-position-controller-system"
                name="gz::sim::systems::JointPositionController">

                <!-- remaping of topic for one of the fingers -->
                <xacro:if value="${mimic_joint == ''}">
                    <xacro:property name="topic_joint" value="${joint_name}"/>
                </xacro:if>
                <xacro:unless value="${mimic_joint == ''}">
                    <xacro:property name="topic_joint" value="${mimic_joint}"/>
                </xacro:unless>

                <joint_name>${joint_name}</joint_name>
                <p_gain>${p_gain}</p_gain>
                <d_gain>${d_gain}</d_gain>
                <i_gain>${i_gain}</i_gain>
                <i_max>1000</i_max>
                <i_min>-1000</i_min>
                <topic>/model/scorbot/joint/${topic_joint}/cmd_pos</topic>
            </plugin>
        </xacro:macro>


        <!-- joint position controller for each joint -->
        <xacro:joint_position_controller joint_name="base_joint" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
        <xacro:joint_position_controller joint_name="shoulder" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
        <xacro:joint_position_controller joint_name="elbow" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
        <xacro:joint_position_controller joint_name="pitch" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
        <xacro:joint_position_controller joint_name="roll" p_gain="1e4" d_gain="1e1" i_gain="1e1"/>
        <xacro:joint_position_controller joint_name="finger_R_joint" p_gain="1e4" d_gain="1e1" i_gain="1e1" mimic_joint="finger_L_joint"/>
        <xacro:joint_position_controller joint_name="finger_L_joint" p_gain="1e4" d_gain="1e" i_gain="1e1"/>

    </gazebo>

    <!-- creo que esto se puede usar desde ros2 control seguro es mejor, en ese caso el de abajo entra en el de plugin de ign y el de ros2 control en el ros2_Control.xacro -->
          <!-- JOINT PUBLISHER -->
  <gazebo>
   <self_collide>true</self_collide>
    <plugin filename="ignition-gazebo-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <ros>
        <remapping>~/out:=scorbot/joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>
  
      <joint_name>finger_R_joint</joint_name>
      <joint_name>finger_L_joint</joint_name>
      <joint_name>base_joint</joint_name>
      <joint_name>elbow</joint_name>
      <joint_name>shoulder</joint_name>
      <joint_name>pitch</joint_name>
      <joint_name>roll</joint_name> 

    </plugin>

  </gazebo>

</robot>