<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scorbot">
<!-- Archivo de control para simulacion  -->

    <!-- Import sbot urdf file -->
    <xacro:include filename="$(find sbot_description)/urdf/scorbot.urdf.xacro" />
    
    <!-- Import ignition plugin control_xacro -->
    <xacro:include filename="gz_plugin_control.xacro" />

    <!-- Import ignition_ros2_control xacro -->
    <!-- <xacro:include filename="$(find sbot_gazebo)/config/gz_ros2_control.xacro" /> -->

</robot>
