<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


        <!-- base_joint -->
        <transmission name="trans_base_joint">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="base_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_base_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!-- elbow -->
        <transmission name="trans_elbow">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="elbow">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_elbow">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!-- shoulder -->
        <transmission name="trans_shoulder">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="shoulder">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_shoulder">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!-- pitch -->
        <transmission name="trans_pitch">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="pitch">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_pitch">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!-- roll -->
        <transmission name="trans_roll">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="roll">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_roll">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!-- finger_R_joint -->
        <!-- <transmission name="trans_finger_R_joint">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger_R_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_finger_R_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission> -->

        <xacro:macro name="mimic_joint_plugin_ignition" params="parent_joint mimic_joint has_pid:=false multiplier:=1.0 offset:=0 sensitiveness:=0.0 max_effort:=200.0 robot_namespace:=''">
            <gazebo>
                <!-- <plugin name="${mimic_joint}_mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin_new.so"> -->
                <plugin name="${mimic_joint}_mimic_joint_plugin" filename="libroboticsgroup_ignition_mimic_joint_plugin.so">
                    <joint>${parent_joint}</joint>
                    <mimicJoint>${mimic_joint}</mimicJoint>
                    <xacro:if value="${has_pid}">
                    <hasPID />
                    </xacro:if>
                    <multiplier>${multiplier}</multiplier>
                    <offset>${offset}</offset>
                    <sensitiveness>${sensitiveness}</sensitiveness>
                    <maxEffort>${max_effort}</maxEffort>
                    <xacro:unless value="${robot_namespace == ''}">
                        <robotNamespace>($robot_namespace)</robotNamespace>
                    </xacro:unless>
                </plugin>
            </gazebo>
        </xacro:macro>

        <xacro:mimic_joint_plugin_ignition parent_joint="finger_L_joint"
        mimic_joint="finger_R_joint" has_pid="false" multiplier="1.0"
        max_effort="200.0" />

        <!-- finger_L_joint -->
        <transmission name="trans_finger_L_joint">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger_L_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_finger_L_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>





</robot>